


html {
	font-size:55%;

  scroll-behavior: smooth;


}

* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
a{
  text-decoration: none;
}

::-webkit-scrollbar{
  width: 15px;


}
::-webkit-scrollbar-track{
  background-color: #e9e9e9;


}
::-webkit-scrollbar-thumb{
  background:linear-gradient(#ffaa2b, #ff5622);
  border-radius: 10px;
}

body {
  width: 172.8rem;
}.behealthy-zMV {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
}
.behealthy-zMV .frame-1-q7D {
  box-sizing: border-box;
  padding: 5.6rem 3.2rem 5.8rem 5.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.04rem #000000;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.behealthy-zMV .frame-1-q7D .icon-0-fEf {
  margin: 0.2rem 1.4rem 0rem 0rem;
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.behealthy-zMV .frame-1-q7D .behealthy-xUf {
  margin: 0.5rem 6.375rem 0rem 0rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Google Sans Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.behealthy-zMV .frame-1-q7D .line-1-e6b {
  margin-right: 17.4846rem;
  width: 0.04rem;
  height: 9rem;
  background-color: rgba(154, 148, 148, 0.5299999714);
  flex-shrink: 0;
}
.behealthy-zMV .frame-1-q7D .features-kQX {
  margin: 0.2rem 9.1rem 0rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Google Sans Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.behealthy-zMV .frame-1-q7D .signup-fXV {
  margin: 0.2rem 7.3rem 0rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Google Sans Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.behealthy-zMV .frame-1-q7D .login-zJs {
  margin: 0.2rem 8.2rem 0rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Google Sans Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.behealthy-zMV .frame-1-q7D .about-us-Hom {
  margin: 0.2rem 18.7rem 0rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Google Sans Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.behealthy-zMV .frame-1-q7D .auto-group-8wao-cb9 {
  margin-top: 0.0999rem;
  width: 32.5rem;
  height: 8.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Google Sans Display, 'Source Sans Pro';
background-color: #000000;
border-radius: 50px;
  flex-shrink: 0;
  cursor: pointer;
}
.behealthy-zMV .auto-group-7bnx-aAb {
  box-sizing: border-box;
  padding: 9.4rem 10.956rem 17.9rem 10.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .auto-group-ced5-VHZ {
  margin: 0rem 4.744rem 29.9rem 7.1rem;
  width: calc(100% - 11.8441rem);
  height: 68.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .auto-group-ced5-VHZ .auto-group-4yzm-111 {
  margin: 12.3rem 23.3rem 16.55rem 0rem;
  width: 74.9rem;
  height: calc(100% - 28.85rem);
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .auto-group-ced5-VHZ .auto-group-4yzm-111 .workout-with-ai-6o9 {
  margin-bottom: 0.55rem;
  max-width: 74.9rem;
  font-size: 17.2rem;
  font-weight: 400;
  line-height: 1.0058139535;
  letter-spacing: -0.2rem;
  text-transform: uppercase;
  color: #000000;
  font-family: Google Sans Display, 'Source Sans Pro';
}
.behealthy-zMV .auto-group-7bnx-aAb .auto-group-ced5-VHZ .auto-group-4yzm-111 .start-your-journey-now-bE7 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.behealthy-zMV .auto-group-7bnx-aAb .auto-group-ced5-VHZ .images-2-V4b {
  width: 40.9rem;
  height: 68.4rem;
  position: relative;
  background-size: 267.675% 100%;
  background-position: -52.919rem 0;
  background-image: url('../assets/images-2.png');
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-4-yVZ {
  margin: 0rem 9.744rem 42.2rem 6.6rem;
  width: calc(100% - 16.3441rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-4-yVZ .group-74-WEb {
  margin: 0rem 0rem 39.3rem 2.8rem;
  width: calc(100% - 2.8rem);
  height: 53.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-4-yVZ .group-74-WEb .auto-group-wns1-ERV {
  margin: 10.6rem 19.7rem 14rem 0rem;
  width: 48.1rem;
  height: calc(100% - 24.6rem);
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-4-yVZ .group-74-WEb .auto-group-wns1-ERV .get-fit-anytime-anywhere-for-free-92f {
  margin-bottom: 2.3rem;
  max-width: 46.8rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03rem;
  color: #000000;
  font-family: Google Sans Display, 'Source Sans Pro';
}
.behealthy-zMV .auto-group-7bnx-aAb .section-4-yVZ .group-74-WEb .auto-group-wns1-ERV .introducing-your-fitness-app-name-your-ultimate-fitness-partner-powered-by-cutting-edge-ai-technology-say-goodbye-to-expensive-gym-memberships-and-hello-to-effective-home-workouts-tailored-to-your-needs-all-at-absolutely-no-cost-x8X {
  margin-bottom: 4.6456rem;
  max-width: 48.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03rem;
  color: #000000;
  font-family: Google Sans Display, 'Source Sans Pro';
}
.behealthy-zMV .auto-group-7bnx-aAb .section-4-yVZ .group-74-WEb .auto-group-wns1-ERV .see-more-1-Ze7 {
  margin-right: 36.9524rem;
  width: calc(100% - 36.9524rem);
  display: flex;
  align-items: flex-start;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-4-yVZ .group-74-WEb .auto-group-wns1-ERV .see-more-1-Ze7 .see-more-WZM {
  margin: 0.154rem 2.009rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: 0.05rem;
  color: #0070c9;
  font-family: Google Sans Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-4-yVZ .group-74-WEb .auto-group-wns1-ERV .see-more-1-Ze7 .group-4-d8B {
  width: 2.5383rem;
  height: 2.4544rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-4-yVZ .group-74-WEb .mask-group-Mps {
  width: 64rem;
  height: 53.9rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-4-yVZ .group-75-6XZ {
  margin-right: 5.3rem;
  width: calc(100% - 5.3rem);
  height: 51rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-4-yVZ .group-75-6XZ .mask-group-1eX {
  margin-right: 22.6rem;
  width: 56rem;
  height: 51rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-4-yVZ .group-75-6XZ .auto-group-8on7-wYB {
  margin: 4.8rem 0rem 6.4rem 0rem;
  width: 50.7rem;
  height: calc(100% - 11.2rem);
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-4-yVZ .group-75-6XZ .auto-group-8on7-wYB .ai-powered-personal-trainer--4co {
  margin-bottom: 10.6rem;
  max-width: 44.8rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.083rem;
  color: #000000;
  font-family: Google Sans Display, 'Source Sans Pro';
}
.behealthy-zMV .auto-group-7bnx-aAb .section-4-yVZ .group-75-6XZ .auto-group-8on7-wYB .experience-the-future-of-fitness-with-our-ai-personal-trainer-available-24-7-to-guide-you-through-every-exercise-and-provide-real-time-feedback-on-your-form-and-performance-with-intelligent-insights-and-adaptive-recommendations-youll-never-feel-lost-or-unmotivated-during-your-home-workouts-again-Mro {
  margin-bottom: 3rem;
  max-width: 50.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03rem;
  color: rgba(0, 0, 0, 0.6499999762);
  font-family: Google Sans Display, 'Source Sans Pro';
}
.behealthy-zMV .auto-group-7bnx-aAb .section-4-yVZ .group-75-6XZ .auto-group-8on7-wYB .see-more-2-jcT {
  margin-right: 39.5524rem;
  width: calc(100% - 39.5524rem);
  display: flex;
  align-items: flex-end;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-4-yVZ .group-75-6XZ .auto-group-8on7-wYB .see-more-2-jcT .see-more-GcP {
  margin-right: 2.0093rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: 0.05rem;
  color: #0070c9;
  font-family: Google Sans Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-4-yVZ .group-75-6XZ .auto-group-8on7-wYB .see-more-2-jcT .group-4-PBD {
  width: 2.5383rem;
  height: 2.4544rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj {
  margin-bottom: 17.914rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .group-38-3f5 {
  margin: 0rem 23.744rem 12.056rem 35.9rem;
  width: calc(100% - 59.6441rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .group-38-3f5 .not-sure-where-to-start-af1 {
  margin-bottom: 3.9436rem;
  font-size: 6rem;
  font-weight: 400;
  line-height: 0.8333333333;
  letter-spacing: 0.03rem;
  color: #000000;
  font-family: Google Sans Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .group-38-3f5 .programs-offer-day-to-day-guidance-on-an-interactive-calendar-to-keep-you-on-track-tQo {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 0.96;
  letter-spacing: 0.05rem;
  color: rgba(0, 0, 0, 0.6499999762);
  font-family: Google Sans Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm {
  width: 100%;
  display: flex;
  column-gap: 6rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-67-7YT {
  margin-top: 0.1rem;
  box-sizing: border-box;
  padding: 6.635rem 4.349rem 5.444rem 4.374rem;
  width: 33.236rem;
  height: 23.786rem;
  background-color: rgba(47, 49, 65, 0.8999999762);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-67-7YT .group-63-dWo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-67-7YT .group-63-dWo .group-2-zMM {
  margin-right: 5.1751rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-67-7YT .group-63-dWo .group-2-zMM .download-app-x3H {
  margin-bottom: 2.1068rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #fafaf9;
  font-family: Google Sans Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-67-7YT .group-63-dWo .group-2-zMM .get-started-on-your-fitness-journey-today-download-behealthy-fitness-now-4c7 {
  max-width: 16.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03rem;
  color: rgba(239, 237, 232, 0.6499999762);
  font-family: Google Sans Display, 'Source Sans Pro';
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-67-7YT .group-63-dWo .group-4-LJj {
  margin-bottom: 2.1167rem;
  width: 2.5383rem;
  height: 2.4544rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-64-Scf {
  box-sizing: border-box;
  padding: 6.635rem 4.349rem 7.561rem 4.374rem;
  width: 33.236rem;
  height: 23.786rem;
  background-color: #323443;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-64-Scf .group-63-mew {
  width: 100%;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-64-Scf .group-63-mew .group-2-XPD {
  margin: 0rem 3.813rem 0.229rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-64-Scf .group-63-mew .group-2-XPD .create-workout-plan-U3Z {
  margin-bottom: 2.1068rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #fafaf9;
  font-family: Google Sans Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-64-Scf .group-63-mew .group-2-XPD .create-workout-plan-by-help-of-ai-ByZ {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03rem;
  color: rgba(239, 237, 232, 0.6499999762);
  font-family: Google Sans Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-64-Scf .group-63-mew .group-4-hwu {
  width: 2.6476rem;
  height: 2.4544rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-65-SPh {
  box-sizing: border-box;
  padding: 6.635rem 4.349rem 7.561rem 4.374rem;
  width: 33.236rem;
  height: 23.786rem;
  background-color: #232532;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-65-SPh .group-62-NHM {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-65-SPh .group-62-NHM .group-2-7Ew {
  margin: 0rem 2.275rem 0.283rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-65-SPh .group-62-NHM .group-2-7Ew .adjust-its-according-its-you-TJo {
  margin-bottom: 2.1068rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #fafaf9;
  font-family: Google Sans Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-65-SPh .group-62-NHM .group-2-7Ew .you-can-adjust-given-workout-by-ai-Zsd {
  max-width: 19.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03rem;
  color: rgba(239, 237, 232, 0.6499999762);
  font-family: Google Sans Display, 'Source Sans Pro';
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-65-SPh .group-62-NHM .group-4-55H {
  width: 2.5383rem;
  height: 2.4544rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-66-bZR {
  box-sizing: border-box;
  padding: 6.635rem 4.349rem 7.561rem 4.374rem;
  width: 33.236rem;
  height: 23.786rem;
  background-color: #323443;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-66-bZR .group-61-8ZM {
  width: 100%;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-66-bZR .group-61-8ZM .group-2-h6f {
  margin: 0rem 12.713rem 0.229rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-66-bZR .group-61-8ZM .group-2-h6f .meal-plans-SK9 {
  margin-bottom: 2.1068rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: #fafaf9;
  font-family: Google Sans Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-66-bZR .group-61-8ZM .group-2-h6f .plans-built-with-ai-ZPm {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03rem;
  color: rgba(239, 237, 232, 0.6499999762);
  font-family: Google Sans Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .section-3-6zj .auto-group-cbt5-Nqm .group-66-bZR .group-61-8ZM .group-4-VHR {
  width: 2.5383rem;
  height: 2.4544rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .frame-8-QvB {
  margin: 0rem 30.944rem 0rem 20rem;
  box-sizing: border-box;
  padding: 16.1rem 26.1rem 16.114rem 22.9rem;
  width: calc(100% - 50.9441rem);
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.05rem #000000;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .frame-8-QvB .download-app-from-urw {
  margin-bottom: 2.7rem;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Google Sans Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .frame-8-QvB .auto-group-mweb-FA7 {
  margin: 0rem 7.6rem 0rem 2.8rem;
  width: calc(100% - 10.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .frame-8-QvB .auto-group-mweb-FA7 .logos-google-play-icon-meF {
  margin-right: 3.6rem;
  width: 7.5rem;
  height: 7.486rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.behealthy-zMV .auto-group-7bnx-aAb .frame-8-QvB .auto-group-mweb-FA7 .google-play-store-6wR {
  margin-bottom: 0.186rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Google Sans Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.behealthy-zMV .frame-7-o59 {
  box-sizing: border-box;
  padding: 6.674rem 13.8rem 4.5rem 8.887rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #313131;
  flex-shrink: 0;
}
.behealthy-zMV .frame-7-o59 .auto-group-2i39-KZH {
  margin-bottom: 1.0086rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.behealthy-zMV .frame-7-o59 .auto-group-2i39-KZH .group-sKu {
  margin-right: 1.8381rem;
  width: 7.5745rem;
  height: 7.4172rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.behealthy-zMV .frame-7-o59 .auto-group-2i39-KZH .behealthy-ojM {
  margin: 0rem 94.875rem 0.791rem 0rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.behealthy-zMV .frame-7-o59 .auto-group-2i39-KZH .auto-group-bqgf-Kxb {
  margin-bottom: 0.1914rem;
  width: 26.025rem;
  flex-shrink: 0;
}
.behealthy-zMV .frame-7-o59 .auto-group-2i39-KZH .auto-group-bqgf-Kxb .contact-us--gHM {
  margin: 0rem 0rem 0.5rem 0.025rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Google Sans Display, 'Source Sans Pro';
  white-space: nowrap;
}
.behealthy-zMV .frame-7-o59 .auto-group-2i39-KZH .auto-group-bqgf-Kxb .auto-group-lxcp-oMy {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.behealthy-zMV .frame-7-o59 .auto-group-2i39-KZH .auto-group-bqgf-Kxb .auto-group-lxcp-oMy .typcn-mail-Zc3 {
  margin-right: 1.575rem;
  width: 2.25rem;
  height: 1.625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.behealthy-zMV .frame-7-o59 .auto-group-2i39-KZH .auto-group-bqgf-Kxb .auto-group-lxcp-oMy .behealthyhubgmailcom-ufu {
  margin-bottom: 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Google Sans Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.behealthy-zMV .frame-7-o59 .auto-group-hx5u-2kX {
  margin: 0rem 9rem 6.735rem 9.413rem;
  width: calc(100% - 18.4126rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.behealthy-zMV .frame-7-o59 .auto-group-hx5u-2kX .behealthy-fitness-your-ai-powered-guide-to-personalized-workouts-shaping-your-body-and-mind-for-success-ZVZ {
  margin: 1.8rem 80.6rem 0rem 0rem;
  max-width: 34.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Google Sans Display, 'Source Sans Pro';
  flex-shrink: 0;
}
.behealthy-zMV .frame-7-o59 .auto-group-hx5u-2kX .mdi-call-outline-pwH {
  margin: 0.3rem 0.071rem 0rem 0rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.behealthy-zMV .frame-7-o59 .auto-group-hx5u-2kX .auto-group-redd-wm1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.behealthy-zMV .frame-7-o59 .auto-group-hx5u-2kX .auto-group-redd-wm1 .item-91-7972610485-hVH {
  margin-bottom: 1.2263rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Google Sans Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.behealthy-zMV .frame-7-o59 .auto-group-hx5u-2kX .auto-group-redd-wm1 .auto-group-jywo-cs9 {
  margin-right: 1.1rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.behealthy-zMV .frame-7-o59 .auto-group-hx5u-2kX .auto-group-redd-wm1 .auto-group-jywo-cs9 .group-Mpj {
  margin: 0rem 1.824rem 0.119rem 0rem;
  width: 3.0298rem;
  height: 2.9669rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.behealthy-zMV .frame-7-o59 .auto-group-hx5u-2kX .auto-group-redd-wm1 .auto-group-jywo-cs9 .pajamas-twitter-VR9 {
  margin-right: 3.2248rem;
  width: 2.5502rem;
  height: 2.625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.behealthy-zMV .frame-7-o59 .auto-group-hx5u-2kX .auto-group-redd-wm1 .auto-group-jywo-cs9 .logos-facebook-pyD {
  margin-bottom: 0.0125rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.behealthy-zMV .frame-7-o59 .line-4-A1V {
  margin: 0rem 6.088rem 4.965rem 0rem;
  width: 140rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.behealthy-zMV .frame-7-o59 .copyright-2024-behealthy-all-right-reserved-VZZ {
  margin-left: 1.0126rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Google Sans Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

a:hover{
  font-weight: 900;
}


